/* Daca vrem ca aplicatia sa ocupe intreg viewport-ul. */
/* .app {
  min-height: 100vh;
}

.app h1 {
  margin-top: 0;
} */


.app{
  background-color: lightskyblue;
  padding: 10px 10px;
}

p, button{
  margin-top: 6px; 
  margin-bottom: 6px;
}